<?xml version="1.0"?>
<launch>

  <!-- Custom gazebo arguements -->
  <arg name="world" default="empty"/> 
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="false"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

   <!-- World File -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="world_name" value="$(find worlds)/world/world.world"/>    

    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="verbose" value="false"/>
  </include>
   
  
  <rosparam file="$(find robot_control)/config/diff_driver_controller_params.yaml" command="load"/>
  <rosparam file="$(find robot_control)/config/joint_limits.yaml" command="load"/>
  <rosparam file="$(find robot_control)/config/joint_state_controller.yaml" command="load"/>

    <param name="robot_description" command="$(find xacro)/xacro $(find robot_description)/urdf/robot.urdf"/>

  <node name="robot_hardware_interface" pkg="robot_control" type="arduinobot_interface_node" output="screen">
     
          <remap from="/myrobot1/mobile_base_controller/cmd_vel" to="/cmd_vel"/>
  </node>
  
 
  
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
        
        args="/myrobot1/joint_state_controller  /myrobot1/mobile_base_controller">

        
  </node>
  
  

 


  <!-- Send robot states to tf -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false"/>
  </node>
  
   <node name="rviz" pkg="rviz" type="rviz" />

</launch>
